@import url(https://fonts.googleapis.com/css?family=Comfortaa:700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  display: flex;
  justify-content: left;
  animation-duration: 1s;
  animation-name: slidein;
  animation-timing-function: cubic-bezier(0.58, 0.05, 0.16, 1);
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.header__container {
  background: #FFFFFF;
  box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.15);
  padding-bottom: 48%;
}

.header__logo {
  display: flex;
  border-bottom: 1px solid #EADBD7;
  margin-bottom: 65px;
}

.logo {
  text-align: center;
}

.logo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
  color: #1B1B1E;
  margin: 35px 30px 35px 15px;
}

.logo__img {
  margin-left: 30px;
}

.menu__items {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
}

.menu__item {
  background: #FDF5ED;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.menu__item__active {
  background: #FDF5ED;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
  display: flex;
  padding-right: 20px;
}

.item__info {
  display: flex;
  justify-content: space-between;
}

a.info__link {
  margin-left: 15px;
  margin-right: 80px;
  margin-top: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112.5%;
  color: #1B1B1E;
}

.item__active._active {
  margin-right: 15px;
}

._active {
  background: #F5CCA3;
  width: 5px;
  height: 70px;
}

.page {
  display: flex;
  width: 100%;
}

.page__header {
  height: 100px;
  width: 100%;
}

.page__header__container {
  height: 100%;
  display: flex;
  margin-left: 3vw;
  margin-right: 8.5vw;
  justify-content: space-between;
}

.title__calendar {
  font-size: 32px;
  margin: auto 0px;
}

.slider {
  margin: auto 0px auto;
}

.slider__form {
  margin: auto 0px;
}

.slider__month {
  vertical-align: middle;
  font-size: 22px;
  margin-left: 1vw;
}

.slider__but {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: auto 0;
  background-color: #FFFFFF;
  vertical-align: middle;
}

.slider__but:hover {
  background-color: #FDF5ED;
}

.slider__but__image {
  vertical-align: middle;
}

.search {
  margin: auto 0px;
  display: flex;
  width: 30vw;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  justify-content: space-between;
}

.search__lupa {
  margin: auto 1vw;
  vertical-align: middle;
}

.search__input {
  width: 80%;
  height: 100%;
}

.search__slide {
  width: 28px;
  height: 28px;
  margin: auto 1vw;
  background-color: #FFFFFF;
  vertical-align: middle;
  border-radius: 50%;
}

.search__slide:hover {
  background-color: #F8F2F2;
}

.search__slide__image {
  vertical-align: middle;
}

body {
  font-family: 'Comfortaa';
  display: flex;
}
