@import url(https://fonts.googleapis.com/css?family=Comfortaa:700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.calendar__mini1 {
  box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 20px 0;
  width: 300px;
}

@media (max-width: 768px) {
  .calendar__mini1 {
    width: 100%;
  }
}

.calendar__mini1 header {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  padding: 0 20px;
}

.calendar__mini1 header button {
  height: 2em;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  background: #FFFFFF;
  color: #F5CCA3;
  margin: 0 5px;
}

.calendar__mini1 header select {
  margin: 0 4px;
  width: 30%;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 112.5%;
  color: #1B1B1E;
}

@media (max-width: 768px) {
  .calendar__mini1 header select {
    width: 35%;
    font-size: 17px;
    line-height: 117.64706%;
  }
}

.calendar__mini1 .table {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .calendar__mini1 .table {
    display: flex;
    justify-content: center;
  }
}

.calendar__mini1 .table table {
  table-layout: fixed;
  border-collapse: separate;
  margin: auto;
  width: 100%;
}

@media (max-width: 768px) {
  .calendar__mini1 .table table {
    width: 100%;
  }
}

.calendar__mini1 .table table thead {
  vertical-align: middle;
  text-align: center;
  height: 36px;
  color: #DCC3BC;
}

.calendar__mini1 .table table tbody .week .day {
  padding: 4px 8px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid transparent;
}

@media (max-width: 768px) {
  .calendar__mini1 .table table tbody .week .day {
    padding: 2px 4px;
  }
}

.calendar__mini1 .table table tbody .week .day:hover {
  background: #ffb46e;
  cursor: pointer;
  border-radius: 50px;
}

.calendar__mini1 .table table tbody .week .day.selected {
  border: 2px solid #ffb46e;
  border-radius: 50px;
}

.calendar__mini1 .table table tbody .week .day.today {
  background-color: #F8E0C9;
  color: black;
  border-radius: 50px;
}

.calendar__mini1 .table table tbody .week .day.today:hover {
  background-color: #ff8819;
}

.calendar__mini1 .border__bottom {
  border-bottom: 1px solid #EADBD7;
  margin-bottom: 20px;
}

.calendar__mini1 .events {
  padding: 0 20px;
}

.calendar__mini1 .events__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.calendar__mini1 .events__info__day__today {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112.5%;
  color: #1B1B1E;
}

.calendar__mini1 .events__info__date__day {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112.5%;
  color: #1B1B1E;
}

.calendar__mini1 .events__items li {
  display: flex;
  align-items: center;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112.5%;
  color: #1B1B1E;
  margin-bottom: 20px;
}

.calendar__mini1 .events__items li img {
  width: 8px;
  height: 8px;
  margin-right: 10px;
}

.calendar__mini2 {
  display: flex;
  box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 40px 80px;
  margin-left: 100px;
}

.calendar__mini2 .week {
  width: 800px;
}

.calendar__mini2 .week__container {
  margin-bottom: 35px;
}

.calendar__mini2 .week__inform {
  display: flex;
  justify-content: space-between;
}

.calendar__mini2 .week__inform .inform__day {
  font-size: 28px;
  line-height: 31px;
  color: #000000;
}

.calendar__mini2 .week__inform .inform__date {
  font-size: 28px;
  line-height: 31px;
  color: #DCC3BC;
}

.calendar__mini2 .week__item {
  border: 1px solid #EADBD7;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.calendar__mini2 .week .item__head {
  display: flex;
  justify-content: space-between;
}

.calendar__mini2 .week .item__head .head__title {
  font-size: 20px;
  line-height: 22px;
  color: #EBAD6F;
}

.calendar__mini2 .week .item__head .head__time {
  font-size: 20px;
  line-height: 22px;
  color: #DCC3BC;
}

.calendar__mini2 .week .item__teacher {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #DCC3BC;
  margin-top: 5px;
}

.calendar__mini2 .week .item__inf {
  margin-top: 20px;
}

.type {
  margin-right: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background: #FF4B3E;
  border-radius: 5px;
  padding: 5px 10px;
}

.group {
  margin-right: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background: #6D9F71;
  border-radius: 5px;
  padding: 5px 10px;
}

.pod__group {
  margin-right: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background: #6D9F71;
  border-radius: 5px;
  padding: 5px 10px;
}

.outline {
  text-decoration: line-through;
}

.content {
  display: flex;
  max-width: 100%;
}

.navbar {
  z-index: 5;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 90px;
  }
}

.navbar__container {
  background: #FFFFFF;
  box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.15);
  height: 100%;
}

@media (max-width: 768px) {
  .navbar__container {
    width: 100%;
    height: 90px;
  }
}

@media (max-width: 768px) {
  .navbar__body {
    display: flex;
    justify-content: space-between;
  }
}

.navbar__logo {
  display: flex;
  border-bottom: 1px solid #EADBD7;
}

@media (max-width: 768px) {
  .navbar__logo {
    margin-bottom: 30px;
    border-bottom: none;
    padding-bottom: 20px;
    margin: 20px 30px 30px 30px;
  }
}

.navbar__burger {
  display: none;
}

@media (max-width: 768px) {
  .navbar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 40px 20px;
  }
}

.logo {
  text-align: center;
}

.logo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
  color: #1B1B1E;
  margin: 35px 30px 35px 15px;
}

@media (max-width: 768px) {
  .logo__title {
    display: none;
  }
}

.logo__img {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .logo__img {
    margin: 0;
  }
}

.menu__items {
  margin: 60px 0px 20px 0px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .menu__items {
    margin: 82px 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    overflow: auto;
  }
  .menu__items.active {
    transform: translateX(0);
    transition: all 0.3s ease 0s;
  }
}

.menu__item {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.menu__item:hover {
  background: #FDF5ED;
}

.menu__item__active {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
  display: flex;
  padding-right: 20px;
}

.menu__item__active:hover {
  background: #FDF5ED;
}

@media (max-width: 768px) {
  .menu__item__active {
    padding: 0;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}

.item__info {
  display: flex;
  justify-content: space-between;
}

a.info__link {
  margin-left: 15px;
  margin-right: 80px;
  margin-top: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112.5%;
  color: #1B1B1E;
}

@media (max-width: 768px) {
  .info__img {
    display: none;
  }
}

.item__active._active {
  margin-right: 15px;
}

._active {
  background: #F5CCA3;
  width: 5px;
  height: 70px;
}

@media (max-width: 767px) {
  .navbar__burger span,
  .navbar__burger::before,
  .navbar__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
    margin: 0;
  }
  .navbar__burger::before,
  .navbar__burger::after {
    content: "";
  }
  .navbarr__burger::before {
    top: 0;
  }
  .navbar__burger::after {
    bottom: 0;
  }
  .navbar__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}

.navbar__burger.active span {
  transform: scale(0) translate(0px, -50%);
}

.navbar__burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.navbar__burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

body, html {
  font-size: inherit;
  display: flex;
  font-family: 'Comfortaa';
}
