.calendar__mini1 {
    box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 20px 0;
    margin: 0;
    width: 20%;
    
    @media (max-width: 1650px) {
        width: 25%;
    }
    @media (max-width: 1450px) {
        width: 28%;
    }
    @media (max-width: 1250px) {
        width: 31%;
    }
    @media (max-width: 1000px) {
        width: 34%;
    }
    @media (max-width: 900px) {
        width: 38%;
    }
    @media (max-width: 768px) {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        margin: 0 0 50px 0;
    }
    header {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
        padding: 0 20px;
        
        button {
            height: 2em;
            font-size: 1rem;
            border-radius: 4px;
            cursor: pointer;
            background: #FFFFFF;
            color: #F5CCA3;
            margin: 0 5px;
            @media (max-width: 768px) {
                
            }
        }

        select {
            margin: 0 4px;
            width: 150px;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 23 / 20 * 100%;
            color: #1B1B1E;
            text-align: center;
            @media (max-width: 768px) {
                width: 35%;
                font-size: 17px;
                line-height: 20 / 17 * 100%;
            }
        }
    }

    .table {
        margin-bottom: 20px;
        
        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
        }
        table {
            table-layout: fixed;
            border-collapse: separate;
            margin: auto;
            width: 100%;
            @media (max-width: 768px) {
                width: 100%;
            }
            thead {
                vertical-align: middle;
                text-align: center;
                height: 36px;       
                color: #DCC3BC; 
                tr {
    
                }
            }
    
            tbody {
    
                .week {
                    
                    .day {
                        padding: 4px 8px;
                        vertical-align: middle;
                        text-align: center;
                        border: 2px solid transparent;
                        @media (max-width: 768px) {
                            padding: 2px 4px;
                        }
                        &:hover {
                            background: #ffb46e;
                            cursor: pointer;
                            border-radius: 50px;
                        }
                        &.selected {
                            border: 2px solid #ffb46e;
                            border-radius: 50px;
                        }
                        &.today {
                            background-color: #F8E0C9;
                            color: black;
                            border-radius: 50px;
                            &:hover {
                                background-color: #ff8819;
                            }
                        }
                    }
                }
            }
        }
    }

    .border__bottom {
        border-bottom: 1px solid #EADBD7;
        margin-bottom: 20px;
    }

    .events {
        padding: 0 20px;
        &__info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            &__day {

                &__today {
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 18 / 16 * 100%;
                    color: #1B1B1E;
                }
            }

            &__date {

                &__day {
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 18 / 16 * 100%;
                    color: #1B1B1E;
                }
            }
        }

        &__items {

            li {
                display: flex;
                align-items: center;
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 18 / 16 * 100%;
                color: #1B1B1E;
                margin-bottom: 20px;
                img {
                    width: 8px;
                    height: 8px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.calendar__mini2 {
    display: flex;
    box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 40px 80px;
    margin-left: 10%;
    margin-right: 5%;
    width: 100%;
    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        padding: 20px 20px;
    }
    .week {
        width: 100%;
        &__container {
            margin-bottom: 35px;
        }
        &__inform {
            display: flex;
            justify-content: space-between;
            .inform__day {
                font-size: 28px;
                line-height: 31px;
                color: #000000;
            }

            .inform__date {
                font-size: 28px;
                    line-height: 31px;
                    color: #DCC3BC;
                &__day {
                    
                }
            }
        }

        &__items {
            height: 500px;
            overflow: hidden;
        }

        &__item {
            border: 1px solid #EADBD7;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 10px;
            
        }

        .item__head {
            display: flex;
            justify-content: space-between;
            .head__title {
                font-size: 20px;
                line-height: 22 / 20 * 100%;
                color: #EBAD6F;
                margin-right: 10%;
            }

            .head__time {
                font-size: 20px;
                line-height: 22px;
                color: #DCC3BC;
            }

            &__time {

            }
        }

        .item__teacher {
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            color: #DCC3BC;
            margin-top: 5px;
        }
            
        .item__inf {
            margin-top: 20px;
        }
    }
}

.type {
    margin-right: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background: #FF4B3E;
    border-radius: 5px;
    padding: 5px 10px;
}

.group {
    margin-right: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background: #6D9F71;
    border-radius: 5px;
    padding: 5px 10px;
}

.pod__group {
    margin-right: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background: #6D9F71;
    border-radius: 5px;
    padding: 5px 10px;
    @media(max-width: 424px) {
        margin-top: 10px;
    }
}

.outline {
    text-decoration: line-through;
}

.content {
    width: 100%;
    display: flex;

    @media (max-width: 768px) {
        text-align: center;
        width: 100%;
        flex-direction: column;
    }
}

.items__container {
    overflow: auto;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; /*mozilla*/
    &::-webkit-scrollbar {
        display: none; /*chrome*/
      }
}